<h3 class="text-center text-white bg-dark p-3">Bitcoin Price Index</h3>
<div class="contaner">
    <table class="table table -hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Symbol</th>
                <th>Rate</th>
                <th>Description</th>
                <th>Rate float</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of bitcoinPriceIndexes">
                <td>
                    {{item.code}}
                </td>
                <td [innerHTML]="item.symbol"></td>
                <td>
                    {{item.rate}}
                </td>
                <td>
                    {{item.description}}
                </td>
                <td>
                    {{item.rate_float}}
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        {{errorMessage}}
    </div>
</div>