<h3 class="text-center text-white bg-dark p-3">US Public API</h3>
<div class="contaner">
    <table class="table table -hover">
        <thead>
            <tr>
                <th>ID Nation</th>
                <th>Nation</th>
                <th>ID Year</th>
                <th>Year</th>
                <th>Population</th>
                <th>Slug State</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of usNations">
                <td>
                    {{item['ID Nation']}}
                </td>
                <td>
                    {{item.Nation}}
                </td>
                <td>
                    {{item['ID Year']}}
                </td>
                <td>
                    {{item.Year}}
                </td>
                <td>
                    {{item.Population}}
                </td>
                <td>
                    {{item['Slug Nation']}}
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        {{errorMessage}}
    </div>
</div>