<!-- <h3 class="text-center text-white bg-dark p-3">Public API</h3>
<div class="input-group">
    <input type="text">
    <input type="text">
</div>
<div class="contaner">
    <table class="table table -hover">
        <thead>
            <tr>
                <th>API</th>
                <th>Description</th>
                <th>Auth</th>
                <th>HTTPS</th>
                <th>Cors</th>
                <th>Link</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of publicApis">
                <td>
                    {{item.API}}
                </td>
                <td>
                    {{item.Description}}
                </td>
                <td>
                    {{item.Auth || 'No Auth'}}
                </td>
                <td>
                    {{item.HTTPS}}
                </td>
                <td>
                    {{item.Cors}}
                </td>
                <td>
                    <a href="{{item.Link}}">
                        Link
                    </a>
                </td>
                <td>
                    {{item.Category}}
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        {{errorMessage}}
    </div>
</div> -->